BODY {
  font: 16px/1.4 "Trebuchet MS", Arial, sans-serif;
}

A {
  color: tomato;
}

H1 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
  font: 2em/1.4 Georgia, serif;
  text-align: center;
}

H4 {
  margin-bottom: .3em;
  font: 1.3em/1.4 Georgia, serif;
  color: steelblue;
}

P {
  margin: 1.5rem 0;
}

.wrapper {
  width: 650px;
  margin: 2rem auto;
  /*padding: 20px;
  border: 1px solid #DDD;*/
}

TEXTAREA {
  width: 100%;
  height: 100px;
  margin: 0 0 1em 0;
  border: 1px solid #CCC;
  border-radius: 10px;
}

CODE {
  padding: 0 7px;
  background: palegoldenrod;
  border-radius: 5px;
  text-shadow: 1px 1px 0 white;
  font: 14px/1 monospace;
  color: #6a6315;
}

CODE I {
  font-style: italic;
  color: black;
}